  <center><% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> evit칩 a este usuario ser guardado.</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div></center>
  <% end %>
<%= form_for(@user) do |f| %>
  <center>
  <div class="field">
    <%= f.text_field :mail, :class=>'input-block-level', :placeholder=>'Email'%>
  </div>
  <div class="field">
    <%= f.password_field :password, :class=>'input-block-level', :placeholder=>'Contrase침a'%>
  </div>
  <div class="field">
	<%= f.password_field :password_confirmation, :class=>'input-block-level', :placeholder=>'Confirmaci칩n de contrase침a'%>
  </div>
  <div class="actions">
    <%= f.submit 'Registrarse', :class => 'btn btn-large btn-primary' %></center>
  </div>
<% end %>
