<p id="notice"><%= notice %></p>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>

<p>
  <b>Contrase&ntilde;a:</b>
  <%= @user.password %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atr%aacute;s', users_path %>
