<center><% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> evitó el guardado de este evento:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %></center>
<%= form_for(@event, :html => { :class => "create_new_event"} ) do |f| %>
  <center><div class="field">
    <%= f.text_field :name, :class=>'input-block-level', :placeholder=>'Nombre de Evento'%>
  </div>
  <div class="field">
    <%= f.label 'Fecha Final' %><br />
    <!-- Calendar-->
  <div id="datetimepicker1" class="input-append date">
    <input data-format="dd/MM/yyyy hh:mm:ss" type="text" name="event[end_date]"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
</div>
    <!-- Calendar end -->

  </div>
  <div class="field">
    <%= f.label "Tipo de Archivo" %><br />
    <%= f.text_field :file_type %>
  </div>
<div class="field">
    <textarea class="input-block-level" cols="40" id="guest-text-box" name="event[guest_list]" placeholder="Invitados (Separados por ;)" rows="5"></textarea>
  </div>
  <div class="actions">
    <%= f.submit 'Crear Evento', :class => 'btn btn-large btn-primary' %>
  </div></center>
<% end %>

