<center><% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %></center>
<%= form_for(@event, :html => { :class => "create_new_event"} ) do |f| %>
  <center><div class="field">
    <%= f.text_field :name, :class=>'input-block-level', :placeholder=>'Event Name'%>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date, :start_year =>  Time.now.year %>
    <!--  <div class="input-append date" id="datepicker" data-date="dateValue: Customer.DateOfBirth" data-date-format="yyyy-mm-dd">
    <input class="span2" size="16" type="text" data-bind="value: Customer.DateOfBirth" readonly="readonly" />
    <span class="add-on"><i class="icon-calendar"></i></span>
</div>   -->
  </div>
  <div class="field">
    <%= f.label :file_type %><br />
    <%= f.text_field :file_type %>
  </div>
<div class="field">
    <%= f.text_area :guest_list , :id=>'guest-text-box',:class=>'input-block-level', :rows=>'10',:placeholder=>'Guests (Separated by ;)'%>
  </div>
  <div class="actions">
    <%= f.submit 'Create Event', :class => 'btn btn-large btn-primary' %>
  </div></center>
<% end %>

