
<div class="new_event"><center><h1 id="new_event_heading" class="form-signin-heading">Your Events</h1><a id="new_event_button" class="btn btn-primary btn-large" href="/events/new">+ |  Create New Event</a></center></div>
<% if @events.empty? %>
<center><p> You don't have any events! </p></center>
<% else %>
<div class="event-table">
<table class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Due date</th>
    <th>File type</th>
    <th>Completetion %</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event %></td>
    <td><%= event.end_date %></td>
    <td><%= event.file_type %></td>
    <td>0/1</td>
    <td><%= link_to 'Show', event %> - <%= link_to 'Edit', edit_event_path(event) %> - <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<% end %>
<br />

