<h1>Your Events</h1>
<%= link_to 'New Event', new_event_path %>
<% if @events.empty? %>
<p> You don't have any events! </p>
<% else %>
<div class="event-table">
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Due date</th>
    <th>File type</th>
    <th>Per</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.end_date %></td>
    <td><%= event.file_type %></td>
    <td>Double Grulli</td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<% end %>
<br />

