<p id="notice"><%= notice %></p>
<p>
 <div class="event_view_header"><center><h1 class="form-signin-heading"><%= @event.name %></h1>(<%= link_to 'Edit', edit_event_path(@event) %>)</center></div>
</p>
<center>
<p>
  <b>End date:</b>
  <%= @event.end_date %>
</p>

<p>
  <b>File type:</b>
  <%= @event.file_type %>
</p>
</center>
<!-- Table of users go here -->