<h1>Listing up_files</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Email</th>
	<th>Token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @up_files.each do |up_file| %>
  <tr>
    <td><%= up_file.Url %></td>
    <td><%= up_file.mail %></td>
	<td><%= up_file.gen_token.to_s %></td>
    <td><%= link_to 'Ver', up_file %></td>
    <td><%= link_to 'Editar', edit_up_file_path(up_file) %></td>
    <td><%= link_to 'Eliminar', up_file, method: :delete, data: { confirm: '&iquest;Seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuebo Archivo de subida', new_up_file_path %>
