<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @up_file.Url %>
</p>

<p>
  <b>Email:</b>
  <%= @up_file.mail %>
</p>

<p>
  <b>URL de subida de archivo:</b>
  <%= image_tag @up_file.upload_file.url %>
</p>

<p>
  <b>Subir Archivo:</b>
  <%= @up_file.upload_file.url %>
</p>


<%= link_to 'Editar', edit_up_file_path(@up_file) %> |
<%= link_to 'Atr&aactue;s', up_files_path %>
