<center><% if @up_file.upload_file_file_size %>

	<h1>&iexcl;Su archivo ya ha sido subido!</h1>
	<p>Por favor contacte a <%= @up_file.event.user.mail %> para ayuda.</p>

<% else %>

	<h1 id="new_event_heading" class="form-signin-heading">Suba su archivo</h1>
	
	<%= form_for @up_file, :html => { :multipart => true } do |f| %>
	
		<div class="field">
			<%= f.label :upload_file %><br />
			<%= f.file_field :upload_file %>
		</div>
	
		<div class="actions">
			<%= f.submit %>
		</div>
	
	<% end %>
	
<% end %></center>