<!doctype html>
<html>
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="wrapper">
    <!-- 1 nav bar goes here -->
    <div id="header">
		<% if session[:user_id] %>
			<%= form_for(User.new, :url => '/logout') do |f| %>
				<p class="submit"><%= f.submit "Logout" , :name => "commit", :class => "btn login-button" %></p>
			<% end %>
		<% else %>
			<%= form_for(User.new, :url => home_path) do |f| %>
				<p class="submit"><%= f.submit "Sign In" , :name => "commit", :class => "btn login-button" %></p>
				<div class="separator"></div>
				<p class="submit"><%= f.submit "Sign Up" , :name => "commit", :class => "btn login-button" %></p>
			<% end %>
		<% end %>
		Header<hr>
	</div>
    <div class="content" id="main" role="main">
              <%= yield %>
              <div class="push"></div>
    </div> <!--! end of #main -->
	  <div id="footer"><hr>Footer
    </div>
</div>
<%= javascript_include_tag "application" %>
  </body>
</html>
